/* Tipografías */
@font-face {
    font-family: "IntegralCF Regular";
    src: url(../assets/fonts/IntegralCF/Fontspring-DEMO-integralcf-regular.otf);
}

@font-face {
    font-family: "IntegralCF Heavy Oblique";
    src: url(../assets/fonts/IntegralCF/Fontspring-DEMO-integralcf-heavyoblique.otf);
}

/* Configuración general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ECEAF5;
    color: #202020;
    font-family: "DM Sans", sans-serif;
}

select,
select option,
input,
button {
    font-family: "DM Sans", sans-serif;
}


/* Header del sitio */
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: sticky;
    top: 0;
    background-color: #ECEAF5;
    color: #9C192B;
    width: 100%;
    font-family: "IntegralCF Regular";
    font-size: 0.7rem;
    letter-spacing: 2px;
    margin-top: -3px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#header a {
    text-decoration: none;
    color: #9C192B;
    transition: all .3s ease;
}

#header a:hover {
    letter-spacing: 3px;
}

#header h1 span {
    font-family: "IntegralCF Heavy Oblique";
}

#header .carrito {
    position: absolute;
    display: flex;
    right: 30px;
}

.carrito .contador {
    font-family: "DM Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 900;
}

.bannerJordan img {
    width: 100%;
}


/* Filtro de productos */
.filtroSeccion {
    width: 100%;
    text-align: center;
    margin: 25px 0 50px;
}

.filtroFull {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 30px;
    gap: 10px;
}

.filtroFull select {
    appearance: none;
    background-image: url(../assets/img/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: right 6px center;
    background-size: 18px;
}

.filtroFull .modelo select,
.filtroFull .orden select,
.filtroFull .busqueda input {
    font-size: 0.9rem;
    border: 1px solid #9C192B;
    border-radius: 5px;
    padding: 10px 10px;
    outline: none;
}

.filtroFull .modelo,
.filtroFull .orden,
.filtroFull .busqueda {
    flex: 0 0 auto;
}

.filtroFull select,
.filtroFull input {
    width: 100%;
}

.filtroFull .modelo,
.filtroFull .orden {
    width: 150px;
}

.filtroFull .busqueda {
    width: 350px;
}

.filtroFull .busqueda input::placeholder {
    font-style: italic;
}

.filtroFull .busqueda input::-webkit-search-cancel-button {
    appearance: none;
}


/* Lista de productos */
.listaProductos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaProductos .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
}

.container article {
    width: 225px;
}

.container article .div-img {
    background-color: #FFF;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all .3s ease;
}

.container article .div-img:hover {
    transform: scale(1.04);
}

.container article .div-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.container article .producto {
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
}

.container article .precio {
    color: #9C192B;
    font-size: 1.1rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}

.container article .btn-carrito {
    display: block;
    background-color: #9C192B;
    color: #FFF;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 12px 0;
    cursor: pointer;
    transition: all .3s ease;
}

.container article .btn-carrito:hover {
    background-color: #801423;
}

.container article .btn-carrito:active {
    transform: translateY(5px);
}

/* Page: Carrito */
.contenido-carrito,
.contenido-checkout {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.titulo-carrito h2 {
    text-align: center;
    font-size: 2rem;
    padding: 45px 5px 25px;
}

.seccionCarrito,
.seccion-checkout {
    display: flex;
    align-items: flex-start;
    gap: 85px;
    padding: 35px 0;
}

.container-carrito,
.container-checkout {
    width: 65%;
}

.container-carrito article {
    display: flex;
    align-items: center;
    gap: 25px;
    border-bottom: 1px solid #979797;
    margin: 0 0 20px;
    padding: 20px 0;
}

.container-carrito article img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    transition: all .2s ease;
}

.container-carrito article img:hover {
    transform: scale(1.03);
}

.container-carrito article .info-producto {
    flex: 1;
}

.container-carrito article .fila-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

.container-carrito article .fila-superior h4 {
    font-size: 1.2rem;
    font-weight: 500;
}

.container-carrito article .fila-inferior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.container-carrito article .fila-inferior .gestionar-cantidad {
    display: flex;
    gap: 7px;
}

.container-carrito article .fila-inferior .gestionar-cantidad button,
.container-carrito article .fila-inferior .info-cantidad {
    background-color: #FFF;
    width: 49px;
    height: 49px;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    transition: all .2s ease;
}

.container-carrito article .fila-inferior .gestionar-cantidad button {
    cursor: pointer;
}

.container-carrito article .fila-inferior .gestionar-cantidad button:active {
    transform: scale(0.9);
}

.container-carrito article .fila-inferior .info-cantidad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.container-carrito article .fila-inferior .btn-eliminar {
    background-color: #ECEAF5;
    color: #9C192B;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    font-weight: 600;
    border: 0;
    border-radius: 7px;
    padding: 10px 0;
    cursor: pointer;
    transition: all .2s ease;
}

.container-carrito article .fila-inferior .btn-eliminar:hover {
    background-color: #9C192B;
    color: #ECEAF5;
    padding: 10px 15px;
}

/* Resumen de la compra */
.container-derecha {
    position: sticky;
    width: 35%;
    top: 110px;
    height: auto;
}

.container-derecha .btn-volver {
    display: inline-block;
    color: #9C192B;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 8px 0;
    transition: all .3s ease;
}

.container-derecha .btn-volver:hover {
    background-color: #9C192B;
    color: #FFF;
    padding: 8px 10px;
}

.container-resumen {
    background-color: #FFF;
    border-radius: 10px;
    padding: 30px;
}

.container-resumen hr {
    margin: 20px 0;
}

.container-resumen .subtotal,
.container-resumen .envio,
.container-resumen .total-precio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-resumen .subtotal {
    margin-bottom: 12px;
}

.container-resumen .subtotal h4,
.container-resumen .envio h4 {
    font-size: 1rem;
    font-weight: 400;
}

.container-resumen .subtotal p,
.container-resumen .envio p {
    font-weight: 800;
}

.container-resumen .total-precio h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.container-resumen .total-precio p {
    font-size: 2.3rem;
    font-weight: 1000;
}

.container-resumen .continuar-pago {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #9C192B;
    color: #FFF;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 18px 0;
    margin: 18px 0;
    border-radius: 10px;
    transition: all .3s ease;
}

.container-resumen .continuar-pago:hover {
    background-color: #801423;
    letter-spacing: 1px;
}

.container-resumen .pago-texto {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 200;
    margin: -5px 0;
}

.container-resumen .texto-gratis {
    color: #08cf44;
}


/* Carrito vacío */
#contenedor-vacio {
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.carrito-vacio img {
    width: 400px;
}

.carrito-vacio p {
    font-size: 2rem;
}

.carrito-vacio a {
    display: inline-block;
    background-color: #9C192B;
    color: #FFF;
    padding: 17px 40px;
    margin: 30px 0;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 10px;
    transition: all .3s ease;
}

.carrito-vacio a:hover {
    background-color: #801423;
}

.item-resumen {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.item-resumen img {
    width: 80px;
    border: 1px solid #adadad;
    border-radius: 10px;
}

.item-resumen div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.item-resumen div p {
    font-size: 1.1rem;
    font-weight: 700;
}


/* Page: Checkout */
.container-checkout h2 {
    font-size: 1.8rem;
    margin-bottom: 16px;
}

.container-form {
    background-color: #FFF;
    border-radius: 10px;
    padding: 30px;
}

.container-form h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.container-form .form-large {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-form .form-small-container {
    display: flex;
    gap: 30px;
}

.container-form .form-small {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container-form div label {
    font-size: 1.1rem;
    font-weight: 500;
}

.container-form div label span {
    color: #9C192B;
    font-weight: bolder;
}

.container-form hr {
    margin: 25px 0;
}

.container-form .form-large input,
.container-form .form-small input {
    background-color: #ECEAF5;
    font-size: 1rem;
    border: 0;
    border-radius: 10px;
    margin-top: 8px;
    padding: 12px 11px;
}

.form-large #nombre,
.form-large #tarjeta {
    margin-bottom: 12px;
}

.form-large button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: #9C192B;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    border: 0;
    border-radius: 10px;
    margin: 30px 0 10px;
    padding: 18px 0;
    cursor: pointer;
    transition: all .3s ease;
}

.form-large button:hover {
    background-color: #801423;
    letter-spacing: 1px;
}

.container-form p {
    color: #9C192B;
    font-size: 0.9rem;
    font-weight: 300;
}


/* Footer */
.footerSite {
    background-color: #202020;
    color: #FFF;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 75px;
    padding: 25px 0;
}

.footerSite span {
    font-weight: 800;
}


/* Responsive Design */
@media (max-width: 1140px) {
    .listaProductos .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 850px) {
    .listaProductos .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media (max-width: 560px) {
    .listaProductos .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .filtroFull .modelo,
    .filtroFull .orden,
    .filtroFull .busqueda {
        flex: 1 1 220px;
        margin: 0 5px;
    }

    .filtroFull select,
    .filtroFull input {
        width: 100%;
    }
}

@media (max-width: 468px) {
    #header {
        flex-direction: column;
    }

    #header .carrito {
        position: static;
        margin-top: 15px;
    }
}